<section class="root">
  <div class="wrapper">
    <div class="header">
      <span>Карточка объекта</span>
      <div class="button-wrapper">
        <button
          class="button-header"
          type="button"
        >
          <img src="assets/svg/content-expand.svg" width="24" height="24" alt="expand"/>
        </button>
        <button
          class="button-header"
          type="button"
        >
          <img src="assets/svg/arrow.svg" width="24" height="24" alt="expand"/>
        </button>
        <button
          class="button-header"
          type="button"
        >
          <img src="assets/svg/close.svg" width="24" height="24" alt="expand"/>
        </button>
      </div>
    </div>
    <div class="slider">
      <app-swiper></app-swiper>
    </div>
    <div class="preview">
      <span>Нижнесусальный переулок, дом такой-то, корпус сякой-то, этаж посерединке, г. Москва</span>
      <button
        class="button-preview"
        type="button"
      >
        <img src="assets/svg/bookmark.svg" width="24" height="24" alt="expand"/>
        <span>Добавить в избранное</span>
      </button>

      <div class="coordinates-wrapper">
        <img src="assets/svg/coordinates.svg" width="24" height="24" alt="expand"/>
        <span class="coordinates">28° 06′ 48″ N — 14° 15′ 43″ W</span>
      </div>

      <button
        class="button-preview"
        type="button"
      >
        <img src="assets/svg/panorama.svg" width="24" height="24" alt="expand"/>
        <span>Панорама</span>
      </button>
    </div>
    <div class="tab-panel"></div>
    <div class="tab-content"></div>
  </div>
</section>
